body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff5f7;
  color: #555;
}

#product-parent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-container {
  background: white;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #f9d8dd;
  text-align: center;
  width: 220px;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
  color: #c94c6d;
}

.add-button {
  border: none;
  background-color: antiquewhite; /* */
  padding: 16px;
  border-radius: 6px; /* */
  cursor: pointer;
  width: 100%;
}

.add-button:disabled {
  background-color: #f0f0f0;
  color: #999;
  cursor: not-allowed;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #f9d8dd;
}